#overview_chart{
	width: 98%;
	height: 47%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top:1%;
	margin-bottom: 0.5%;
	background: white;
}
#piechart{
	width: 47%;
	height: 50%;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	margin-right: 0.5%;
	float: left;
}
#chart_div{
	width: 47%;
	height: 50%;
	margin-top: 1%;
	margin-left: 0.5%;
	margin-bottom: 1%;
	margin-right: 1%;
	float: right;	
}