#interface{
	width: 100%;
}
#interface button{
	width: 12%;
	height: 7%;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	border-style: solid;
	border-color: #2196F3;
	border-width: 1px;
	background: #2196F3;
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #888888;
}
#content{
	margin-left: 1%;
	display: inline;
}
#content_table{
	background: white;
	margin-left: 1%;
	margin-right: 0.5%;
	border-radius: 4px;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 1%;
	padding-right: 2%;
	display: table;
	float: left;
}
#studentsList{
	margin-bottom: 1%;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	font-family: sans-serif;
}
#content_table table {
	border-style: none;
}
#content_table table tr:first-child{
	background: grey;
	text-align: left;
}
#operations{
	width: 50%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	background: white;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 1%;
	padding-right: 2%;	
	border-radius: 4px;
	float: left;
}